.vs
**/node_modules
**/obj
**/bin
**/*.js.map
**/*.js
**/*.csproj.user
/src/StsLogs.txt
/src/APIResourceServer.txt
.idea/**/*
src/ResourceServer/dataeventrecords.sqlite
src/ResourceServer/dataeventrecords.sqlite
